.connect {
    padding: 100px 0;

    @media (max-width: 767px) {
        padding: 20px 0 100px;
    }
    
    &_container {
        display: flex;
        justify-content: space-between;

        @media (max-width: 767px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
    }
    
    &_title {

        @media (max-width: 767px) {
            margin: 20px 0;
            text-align: center;
        }
        
        width: 250px;

        & h2 {
            font-size: 45px;
            color: #1B1D23;
        }

    }

    &_form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 65%;

        @media (max-width: 767px) {
            width: 90%;
        }

        input {
            padding: 20px;
            margin-bottom: 20px;
        }

        textarea {
            padding: 20px 20px 50px 20px;
        }
        
        input, textarea {
            width: 100%;
            border: none;
            border-bottom: 1px solid #000;
            font-weight: 700;
            font-size: 18px;
            outline: none;
            transition: all .1s ease-in-out;

            &::placeholder {
                color: #C8D0E3;
                font-size: 18px;
            }
    
            &::-ms-input-placeholder {
                color: #C8D0E3;
                font-size: 18px;
            }
            
            &:focus {
                border-bottom: 4px solid #000;
            }
        }

        & button {
            background-color: #1B1D23;
            border: none;
            width: 70px;
            height: 70px;
            cursor: pointer;
            transition: background-color .3s ease-in-out;

            &:hover {
                background-color: #60636D;
            }
        }
    }
}