.featured {
    padding: 100px 0;
    position: relative;

    &_container {

        @media (max-width: 992px) {
            width: 80%;
            margin: 0 auto;
        }

        @media (max-width: 767px) {
            width: 90%;
        }
    }
    
    &_header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & h2 {
            font-size: 48px;
            color: #1B1D23;
        }

        & button {
            width: 150px;

            & a {
                padding-left: 10px;

                @media (max-width: 500px) {
                    display: flex;
                    justify-content: center;
                }
            }

            @media (max-width: 500px) {
                position: absolute;
                bottom: 0;
                width: 90%;
            }
        }
    }

    &_boxes {
        padding-top: 50px;

        & a {
            width: 100%;
            display: grid;
            place-items: center;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 20px;
    
            @media (max-width: 1199px) {
                width: 100%;
                grid-template-columns: repeat(1, 1fr);
                column-gap: 0;
                row-gap: 40px;
            }
        }
    }

    &_box {
        position: relative;

        @media (min-width: 1200px) {
            height: 570px;
            width: 100%;
        }
        
        @media (max-width: 1199px) {
            width: 100%;
            height: 100%;
        }

        &--img {
            position: relative;
            height: 100%;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.4);
            }
            
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &--content {
            position: absolute;
            bottom: 40px;
            left: 40px;

            & h3 {
                color: #fff;
                margin-bottom: 10px;
                text-transform: capitalize;
            }

            & p {
                color: #CBCBCB;
                font-weight: 600;
                text-transform: capitalize;
            }
        }

        &--number {
            position: absolute;
            top: 20px;
            right: 0;
            margin: 0;

            @media (max-width: 1199px) {
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
            }

            & h2 {
                color: #fff;
                opacity: .5;
                font-size: 200px;
            }
        }
    }
    
}