.heritage {
    padding: 20px 0 100px 0;
    
    &_container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        @media (max-width: 992px) {
            align-items: center;
            justify-content: center;
        }
    }

    &_content {
        width: 50%;
        padding-right: 20px;

        @media (max-width: 992px) {
            width: 80%;
            padding-right: 0px;
        }

        @media (max-width: 767px) {
            width: 90%;
        }
        

        h2 {
            font-size: 45px;
            color: #1B1D23;
            width: 300px;

            @media (max-width: 400px) {
                width: 100%;
                font-size: 30px;
            }
        }

        p {
            line-height: 1.6;
            margin-top: 30px;
            color: #60636D;
        }
    }

    &_image {
        width: 50%;

        @media (max-width: 992px) {
            display: none;   
        }
    }
    
}